# Global configuration (optional)

{

    # Uncomment and set your email to enable Caddy's automatic HTTPS 

    # certificates and manage renewals:

    # email you@example.com

}


softwavegroup.com {

    # Reverse proxy requests to local port 5000

    reverse_proxy 127.0.0.1:5000

}


